<% provide(:title, "Edit your Question") %>

<h1>Edit your question</h1>

<%= form_for(@question) do |f| %>

	<%= render 'common/form_errors', object: @question %>

	<p>
		<%= f.label :body, "Your question:" %><br >
		<%= f.text_field :body %>
	</p>

	<p>
		<%= f.check_box :solved , class: "checkbox"%>
		<%= f.label :solved , "Click here if your question has been solved", class: "checkbox"%>	
		
	</p>
	
	<p>
		<%= f.button "Update", class: "btn btn-success" %>
	</p>
<% end %>